<!DOCTYPE html>
<html>

<head>
    <% include ../includes/remHeader.html %>
</head>



<body>
    <div id="vm">


        <div class="header">
            <h1>聊天室</h1>
            <div class="logout" @click="logout()">退出</div>
        </div>


        <div class="total-num">
            当前在线人数：{{totalNum}}
        </div>

        <div class="room-group">
            <div class="room-item" v-for="(data,i) in roomlist" @click="join(data,$event)">
                {{data}}
            </div>
        </div>


        <div class="avatar-group">
            <div class="avatar-item" v-for="(data,i) in userList" @click="gouser(data.sid)">
                <img :src="data.avatar" class="avatar-img" alt="">
                <div class="avatar-name">{{data.username}}</div>
            </div>
        </div>

        <div id="memo">
            <div class="time-keepme">{{baseTime}}</div>
        </div>


        <div class="msg" action="">
            <input id="msg" autocomplete="off" />
            <div class="msg-btn" @click="sendMsg()">biubiu</div>
        </div>


        <!-- 
        <div>请输入用户名</div>
        <form class="username" action="">
            <input id="uname" autocomplete="off" />
            <button>确定</button>
        </form> -->
        <!-- <ul id="messages"></ul> -->
        <!-- <form class="msg" action="">
            <input id="msg" autocomplete="off" />
            <button>Send</button>
        </form> -->

    </div>
</body>

</html>